@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  height: 100vh;
  background: linear-gradient(to right, #606080, #2d3855);
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(45, 56, 85, 0.8);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.9);
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 90%;
  max-height: 90vh; /* Add this line to limit the height */
  overflow-y: auto; /* Add this line to enable vertical scrolling if needed */
}

.search {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.search-bar {
  outline: none;
  border: none;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 20px;
  text-align: center;
  width: 80%;
  background: transparent;
}

.search-circle {
  border: 1px solid grey;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-icon {
  font-size: 20px;
  color: grey;
}

.weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.weather-icon {
  font-size: 6rem; /* Reduce the font size */
  margin-bottom: -20px; /* Bring the icon closer to the weather */
}

.temperature {
  text-align: center;
}

h1 {
  font-size: 2rem; /* Reduce the font size */
}

span {
  margin-bottom: 5px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.humidity, .wind {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.info-icon {
  font-size: 2rem; /* Reduce the font size */
  margin-right: 5px;
}

.more-info {
  font-size: 0.8rem;
  margin-top: -5px; /* Bring the text closer to the value */
}

.loading {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loadingIcon {
  font-size: 3rem;
  animation: spin 2s linear infinite;
}

p {
  font-size: 22px;
  margin-top: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}